/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
	h1{
		font-family: sans-serif;
	}
	h2{
		font-family: sans-serif;
	}
	h3{
		font-family: sans-serif;
	}
	p{
		font-family: sans-serif;
	}
	a{
		font-family: sans-serif;
	}
}

body {
	background: #1c1c1c;
}

/* 2. Content ================================= */
.nav{
	display: flex;
	// position: relative;
	margin: 50px 40px;
	.hamburger{
		.hamburger-bars{
			.bar{
				width: 2rem;
				background-color: rgb(85, 85, 85);
				height: 5px;
				margin: 5px;
			}
		}
		.links{
			display: none;
		}
	}
	.logo{
		width: 20%;
		position: absolute;
		right: 50%;
		text-align: center;
	}
}

.hero{
	margin-left: 5%;
	margin-right: 5%;
	h1{
		font-size: 30px;
		text-align: center;
		color: white;
		padding-bottom: 25px;
	}
	p{
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: white;
	}
	img{
		width: 100%;
		padding-bottom: 40px;
	}
	.hero-colums{
		display: flex;
		justify-content: center;
		padding-top: 40px;
		padding-bottom: 40px;
		div{
			width: 33%;
		}
	}
}

.product-video{
	height: 90vh;
	position: relative;
	display: flex;
	background-color: white;
	z-index: -3;
	justify-content: center;
	h3{
		font-size: 16px;
		color: rgb(0, 0, 0);
		align-self: flex-end;
		justify-content: center;
		margin-bottom: 50px;
		width: 50%;
		font-family: sans-serif;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 20px;
	}
	video{
		height: 100vh;
		overflow: hidden;
		// width: 100%;
		position: absolute;
		z-index: -2;
	}
}
.article{
	h1{
		font-size: 30px;
		color: white;
	}
	p{
		font-size: 16px;
		color: white;
	}

}	
.obstacles{
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-2-desktop.png?v=1");
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	.obstacles-copy{
		align-items: flex-end;
		position: absolute;
		bottom: 10%;
		left: 5%;
		width: 30%;
		h1{
			padding-bottom: 40px;
		}
	}

}
.shortcuts{
	// background-color: white;
	height: 80vh;
	display: flex;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-3-desktop-left2.png?v=1");
	background-position: 50%;
	background-size: cover;
	.shortcuts-copy{
		width: 30%;
		align-self: center;
		margin-left: 5%;
		h1{
			color: black;
			margin-bottom: 80px;
		}
		p{
			color: black;
		}
	}
	img{
		width: 60%;
	}
}

.hesitation{
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-4-desktop.png?v=1");
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	.hesitation-copy{
		align-items: flex-end;
		position: absolute;
		bottom: 10%;
		left: 5%;
		width: 30%;
		h1{
			padding-bottom: 40px;
		}
	}
}
.misses{
	display: flex;
	height: 80vh;
	background-position: 50%;
	background-size: cover;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-5-desktop.png?v=1");
	.misses-copy{
		align-self: center;
		margin-left: 5%;
		width: 30%;
		h1{
			margin-bottom: 40px;
		}
	}
}
.resistance{
	display: flex;
	height: 80vh;
	background-position: 50%;
	background-size: cover;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-6-desktop.png?v=1");
	.resistance-copy{
		width: 30%;
		align-self: center;
		margin-left: 5%;
		h1{
			color: black;
			margin-bottom: 40px;
		}
		p{
			color: black;
		}
	}
}
.carbon{
	display: flex;
	height: 80vh;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/magenta-update/superlight-m-zerocarbon-desktop.png?v=1");
	background-position: 50%;
	background-size: cover;
	.carbon-copy{
		align-self: center;
		margin-left: 5%;
		width: 30%;
		h1{
			color: black;
			margin-bottom: 40px;
		}
		p{
			color: black;
		}
	}
}
.product-checkout{
	display: flex;
	.product{
		width: 60%;
		.product-large{
			width: 100%;
		}
		.product-small{
			width: 40%;
			display: flex;
			flex-wrap: wrap;
			img{
				border: 1px solid rgb(165, 165, 165);
			}
		}
	}
	
	.product-copy{
		width: 40%;
		h1{
			color: white;
			font-size: 1.2rem;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		p{
			color: rgb(0, 0, 0);
			font-size: 1.2rem;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.price{
			display: flex;
			.strike{
				text-decoration: line-through;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		.pro{
			display: flex;
			background-color: white;
			width: 28%;
			padding: 10px;
			margin-top: 10%;
			margin-bottom: 5%;
			h3{
				font-size: 16px;
				font-weight: bold;
				padding-right: 5px;
			}
			p{
				padding-right: 5px;
			}
		}
		.more-info{
			.details{
				padding-top: 20px;
				padding-bottom: 20px;
				background-color: rgb(75, 71, 71);
				margin: 20px 8px 0px 0px;
				h4{
					font-size: 1.2rem;
					color: white;
					margin-left: 15px;
					font-family: sans-serif;
				}
				.hide{
					display: none;
				}
			}
		}
	}
}