/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use 'mixins';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
	h1{
		font-family: sans-serif;
	}
	h2{
		font-family: sans-serif;
	}
	h3{
		font-family: sans-serif;
	}
	p{
		font-family: sans-serif;
	}
	a{
		font-family: sans-serif;
	}
}

body {
	background: #111010;
}

/* 2. Content ================================= */
.nav{
	// display: flex;
	// position: relative;
	margin: 50px 40px;
	text-align: center;
	.hamburger{
		position: absolute;
		.hamburger-bars{
			.bar{
				width: 2rem;
				background-color: rgb(85, 85, 85);
				height: 5px;
				margin: 5px;
			}
		}
		.links{
			display: none;
		}
	}
	.logo{
		width: 25%;
		text-align: center;
	}
}

.hero{
	margin: 0% 5%;
	.hero-copy{
		display: flex;
		flex-direction: column;
		padding-bottom: 40px;
		@include mixins.bp-large{
			margin: 0% 15%;
		}
		h1{
			font-size: 30px;
			text-align: center;
			color: white;
			padding-bottom: 25px;
		}
		p{
			font-size: 16pt;
			line-height: 22pt;
			text-align: center;
			color: rgb(220, 216, 216);
			padding-bottom: 20px
		}
		.hero-bar{
			width: 17%;
			height: 9px;
			background-color: rgb(220, 216, 216);
			align-self: center;
			margin-bottom: 25px;
		}
	}
	img{
		width: 100%;
		padding-bottom: 40px;
	}
	.hero-colums{
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 40px;
		h1{
			font-size: 25pt;
			text-align: center;
			font-weight: bold;
			color: white;
			padding-bottom: 25px;
			text-transform: uppercase;
		}
		p{
			font-size: 16pt;
			text-transform: uppercase;
			line-height: 22px;
			font-weight: bold;
			text-align: center;
			color: rgb(155, 151, 151);
			padding-bottom: 20px
		}
		@include mixins.bp-large{
			flex-direction: row;
			justify-content: space-between;	
		}
	}
}

.product-video{
	height: 80vh;
	position: relative;
	display: flex;
	background-color: white;
	z-index: -3;
	justify-content: center;
	overflow: hidden;
	h3{
		font-size: 1.1rem;
		color: rgb(0, 0, 0);
		align-self: flex-end;
		justify-content: center;
		margin-bottom: 50px;
		width: 50%;
		font-family: sans-serif;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 20px;
		z-index: 10;
	}
	@media (min-aspect-ratio: 9/16 ){
		video{
			height: 100vh;
			overflow: hidden;
			width: 100%;
			position: absolute;
			z-index: -2;
		}
	}
	@media (max-aspect-ratio: 16/9 ){
		video{
			// height: 100%;
			overflow: hidden;
			position: absolute;
			// width: 300%;
		}
	}
	video{
		@include mixins.bp-small{
			width: 280%;
		}
	}

}
.article{
	h1{
		font-size: 30px;
		color: white;
		font-weight: bolder;
		line-height: 30px;
	}
	p{
		font-size: 16px;
		color: white;
		font-weight: 100;
	}

	.bar{
		height: 10px;
		width: 40%;
		background-color: black;
		margin: 50px 0px;
	}

}	
.obstacles{

	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-2-desktop.png?v=1");
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	.obstacles-copy{
		line-height: 25px;
		align-items: flex-end;
		position: absolute;
		bottom: 10%;
		left: 5%;
		width: 40%;
		@include mixins.bp-large{
			width: 30%;
		}
	}
	.bar{
		background-color: white;
	}

}
.shortcuts{
	// background-color: white;
	height: 80vh;
	display: flex;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-3-desktop-left2.png?v=1");
	background-position: 50%;
	background-size: cover;
	.shortcuts-copy{
		line-height: 25px;
		width: 40%;
		align-self: center;
		margin-left: 5%;
		@include mixins.bp-large{
			width: 30%;
		}
		h1{
			color: black;
		}
		p{
			color: black;
		}
	}
	img{
		width: 60%;
	}
}

.hesitation{
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-4-desktop.png?v=1");
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	.hesitation-copy{
		line-height: 25px;
		align-self: flex-end;
		position: absolute;
		bottom: 10%;
		left: 5%;
		width: 40%;
		@include mixins.bp-large{
			width: 30%;
		}
	}
	.bar{
		background-color: white;
	}
}
.misses{
	display: flex;
	height: 80vh;
	background-position: 50%;
	background-size: cover;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-5-desktop.png?v=1");
	.misses-copy{
		line-height: 25px;
		align-self: center;
		margin-left: 5%;
		width: 40%;
		@include mixins.bp-large{
			width: 30%;
		}
	}
	.bar{
		background-color: white;
	}
}
.resistance{
	display: flex;
	height: 80vh;
	background-position: 40%;
	background-size: cover;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/superlight-6-desktop.png?v=1");
	.resistance-copy{
		line-height: 25px;
		width: 40%;
		align-self: center;
		margin-left: 5%;
		@include mixins.bp-large{
			width: 30%;
		}
		h1{
			color: black;
		}
		p{
			color: black;
		}
	}
}
.carbon{
	display: flex;
	height: 80vh;
	background-image: url("https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/magenta-update/superlight-m-zerocarbon-desktop.png?v=1");
	background-position: 50%;
	background-size: cover;
	.carbon-copy{
		line-height: 25px;
		align-self: center;
		margin-left: 5%;
		width: 30%;
		@include mixins.bp-large{
			width: 30%;
		}
		h1{
			color: black;
		}
		p{
			color: black;
		}
	}
}
.product-checkout{
	padding-top: 20px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@include mixins.bp-large{
		flex-direction: row;
		
	}
	.product{
		margin-right: 20px;
		width: 100%;
		text-align: center;
		align-self: center;
		.product-large{
			width: 100%;
			@include mixins.bp-large{
				width: 66%;
			}
		}
		.product-small{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			@include mixins.bp-large{
				width: 67%;
				margin-left: 14%;
			}
			img{
				border: 2px solid rgb(165, 165, 165);
				border-radius: 10px;
				width: 14%;
				margin: 10px;
				transition: .3s ease-in-out;
			}
			img:hover{
				transform: scale(1.1);
			}
		}
	}
	
	.product-copy{
		width: 70%;
		align-self: center;
		@include mixins.bp-large{
			margin-right: 2%;
		}
		h1{
			color: white;
			font-size: 2rem;
			text-transform: uppercase;
			font-weight: bolder;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		p{
			color: rgb(255, 255, 255);
			font-size: 1.2rem;
			padding-top: 10px;
			padding-bottom: 10px;
			text-transform: uppercase;
		}
		.price{
			display: flex;
			
			.strike{
				text-decoration: line-through;
				padding-left: 5px;
				padding-right: 5px;
			}
			.sale{
				background-color: #00B8FC;
				letter-spacing: 1px;
				color: black;
				padding: 2px 11px;
				align-self: center;
			}
		}
		.pro{
			display: flex;
			background-color: white;
			width: 170px;
			padding: 10px 20px;
			margin-top: 10%;
			margin-bottom: 5%;
			align-items:center;
			h3{
				font-size: 16pt;
				font-weight: bolder;
				padding-right: 5px;
				text-transform: uppercase;
			}
			p{
				padding-right: 5px;
				color: black;
			}
		}
		.add{
			display: flex;
			justify-content: center;
			width: 100%;
			font-size: 12pt;
			padding: 10px 40px;
			margin: 20px 0px;
			font-family: sans-serif;
			text-transform: uppercase;
			background-color: #00B8FC;
			border-radius: 8px;
			border: 3px solid #00b8fc;
			transition: .4s ease-in-out;
			p{
				padding-left: 20px;
				color: black;

			}

		}
		.add:hover{
			background-color: #111010;
			p{
				color: #00B8FC;
			}
		}

		.shipping{
			display: flex;
			align-items: center;
			p{
				padding-left: 20px;
			}
			img{
				width: 8%;
				// padding-right: 20px;
			}
		}
		.reviews{
			align-items: center;
			padding: 20px 0px;
			a{
				text-decoration: underline;
				color: white;
				padding-left: 10px;
			}
			img{
				width: 5%;
			}
		}
		.description{
			text-transform: inherit;
			line-height: 20pt;
			font-weight: bold;
		}
		.more-info{
			.details{
				padding-top: 20px;
				padding-bottom: 20px;
				background-color: rgb(58, 57, 57);
				margin: 20px 8px 0px 0px;
				width: 100%;
				text-transform: uppercase;
				font-weight: bold;
				border-radius: 10px;
				.title{
					display: flex;
					justify-content: space-between;
					img{
						margin-right: 30px;
					}
					.plus{
						div{
							width: 10px;
							height: 20px;
							background-color: white;
							margin: 5px;
							position: absolute;
						}
					}
				}
				h4{
					font-size: 1.2rem;
					color: white;
					margin-left: 15px;
					font-family: sans-serif;
				}
				.hide{
					display: none;
				}
				.show{
					display: block;
				}
			}
		}
	}
}

footer{
	padding: 10px;
	background-color: white;
	.colums{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 100px 10px;
		div{
			padding: 9px;
		}
		div:last-child{
			padding-right: 60px
		}
		li{
			line-height: 35px;
			a{
				text-decoration: none;
				color: rgb(0, 0, 0);
				font-size: 1rem;
				padding: 0px 0px 0px 10px;
				text-transform: uppercase;
			}
			a:hover{
				text-decoration: underline;
			}
		}
	}
	.email-input{
		text-align: center;
		input{
			height: 60px;
			border: none;
			text-transform: uppercase;
			font-size: 1.1rem;
		}
		button{
			padding: 15px 40px;
			font-size: 1.1rem;
			text-transform: uppercase;
			color: white;
			background-color: black;
			border-radius: 10px;
			transition: .4s ease-in-out;
		}
		button:hover{
			transform: scale(1.1);
		}
		
	}
	.legal{
			margin: 0% 3%;
			display: flex;
			padding-top: 30px;
			padding-bottom: 30px;
			justify-content: space-between;
			a{
				text-decoration: none;
				color: grey;
			}
			.social{
				img{
					padding-right: 20px;
				}
			}
		}
}